@use './helpers' as h;

html {
  box-sizing: border-box;
  @include h.fontSize(16px);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
button {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}